<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Conexion_Reporte" connectionString="XpoProvider=MSSqlServer;data source=192.168.0.5;user id=userImperiumSoft;password=$1mp3rium@22;initial catalog=BaseGrupoHNG;Persist Security Info=true" />

		<add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1};IMEX=1;'"/>
		<add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0;HDR={1};IMEX=1;'"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="colorVerde" value="89, 139, 125" />
		<add key="colorPlomo" value="128, 128, 128" />
		<add key="colorEventRow" value="220, 220, 220" />
		<add key="colorFocus" value="230, 240, 88" />
		<add key="conexion" value="LOCAL" />
		<add key="SeparadorListas" value="," />
		<add key="SeparadorDecimal" value="." />
		<add key="FormatoFecha" value="yyyy-MM-dd" />
		<add key="RutaArchivosLocalExportar" value="C:\IMPERIUM-Software\Recursos\ArchivosExportados" />
		<add key="RutaArchivosEscaneos" value="C:\IMPERIUM-Software\Recursos\Escaneos" />
		<add key="RutaIconoSolucion" value="C:\IMPERIUM-Software\Recursos\IconoSoluciones" />
		<add key="RutaSoluciones" value="C:\IMPERIUM-Software\Soluciones" />
		<add key="RutaAchivosLocal" value="Recursos\" />
		<add key="RutaAchivosServidor" value="Recursos\" />
		<add key="VersionApp" value="2022.0.17" />
		<add key="UltimoUsuario" value="" />
		<add key="ServidorLOCAL" value="192.168.0.5" />
		<add key="ServidorREMOTO" value="190.119.225.92" />
		<add key="BBDD" value="BaseGrupoHNG_QA" />
		<add key="UserID" value="userImperiumSoft" />
		<add key="Password" value="$1mp3rium@22" />
		<add key="AppName" value="Imperium-Software" />
		<add key="rutaBatActualiza" value="C:\IMPERIUM-Software\ActualizaIMPERIUM.bat" />
		<add key="ip_LOCAL" value="192.168" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Graph.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.24.0.0" newVersion="1.24.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>
